.tableRed td{
    margin: auto;
    border: 1px solid red;

}

.tableGreen td{
    margin: auto;
    border: 1px solid green;
}

.btnRed{
    background-color: red;
    color: white;
    margin: auto;

}

.btnGreen{
    background-color: green;
    color: white;
}
table{
    width: auto;
    margin: auto;
}

div {
    width: 20%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 50%;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

button {
    width: 40%;

}